@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');


:root{
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}



body{
    color: var(--dark-color);
}
nav{
    background-color: var(--dark-color);
    
}
.even{
    font-weight: bold;
}
footer{
    background-color: var(--dark-color);
    
}
footer .social a{
    color: var(--white-color);
}
footer .social a:hover{
    color: var(--secondary-color);
}
h1, h2, h3, h4, h5,h6{
    color: var(--primary-color);
}
code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}
main>.container {
    padding: 60px 15px 0;
}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% ;
}
.img-text{
    font-size: 40px;
    font-family: 'Faster One', cursive;
}
.jsicon{
    color: rgb(226,211,4)
}
.bsicon{
    color: purple;
}
.html5icon{

    color: orangered;

}
.css3icon{
    color: blue;
}
.checklist li i{
    color: var(--secondary-color);
}
.footer-text{
    font-size:
}